@import '../../styles/common';

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include desktop {
    align-items: flex-end;
  }

  > input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;

    &.is-disabled {
      background-color: $color-light-grey;
    }
  }

  > .login-error {
    margin-bottom: 10px;
    color: $color-error;
    text-align: right;
  }
  
  > .login-button {
    width: 100%;
    padding: 20px 20px;
    border-radius: 4px;
    box-shadow: $box-shadow-dark;
    background-color: $color-primary;
    color: $color-white;
    font-weight: bold;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    &.is-disabled {
      cursor: not-allowed;
    }
  }
}