@import '../../styles/common';

.start-quiz-form {
  width: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @include desktop {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 15px 25px;
    transform: translate(-100px, -50%);
    align-items: flex-end;
    max-width: 500px;
  }

  > .start-quiz-form-title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  > .start-quiz-form-text {
    margin-top: 0;
  }

  > button {
    width: 100%;
    margin-top: 15px;
    padding: 20px;
    background-color: $color-primary;
    transition: background-color 0.3s, color 0.3s;
    color: $color-white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }
}