@import './variables';

@mixin font-title {
  font-size: $font-size-title;

  @include tablet {
    font-size: $font-size-tablet-title;
  }

  @include desktop {
    font-size: $font-size-desktop-title;
  }
}

@mixin font-sub-title {
  font-size: $font-size-sub-title;

  @include tablet {
    font-size: $font-size-tablet-sub-title;
  }

  @include desktop {
    font-size: $font-size-desktop-sub-title;
  }
}

@mixin font-sub-sub-title {
  font-size: $font-size-subsub-title;

  @include tablet {
    font-size: $font-size-tablet-subsub-title;
  }

  @include desktop {
    font-size: $font-size-desktop-subsub-title;
  }
}

@mixin font-caption {
  font-size: $font-size-caption;
  
  @include tablet {
    font-size: $font-size-tablet-caption;
  }

  @include desktop {
    font-size: $font-size-desktop-caption;
  }
}