@import './variables';

@mixin font-title {
  font-size: $font-size-title;

  @include tablet {
    font-size: $font-size-tablet-title;
  }

  @include desktop {
    font-size: $font-size-desktop-title;
  }
}

@mixin font-subtitle {
  font-size: $font-size-subtitle;

  @include tablet {
    font-size: $font-size-tablet-subtitle;
  }

  @include desktop {
    font-size: $font-size-desktop-subtitle;
  }
}