// Widths
$min-width: 320px;

// Font families
$font-stack: 'Merriweather', sans-serif;
$special-font-stack: 'Pacifico', serif;

// Font sizes
$font-size: 14px;
$font-size-tablet: 16px;
$font-size-desktop: 18px;

$font-size-title: 36px;
$font-size-tablet-title: 38px;
$font-size-desktop-title: 48px;

$font-size-subtitle: 16px;
$font-size-tablet-subtitle: 20px;
$font-size-desktop-subtitle: 24px;

$font-size-caption: 12px;
$font-size-tablet-caption: 14px;
$font-size-desktop-caption: 16px;