// Colors
$color-primary: #800020;
$color-secondary: #C0A080;

// Font families
$font-stack: Helvetica, sans-serif;
$special-font-stack: 'Merriweather', serif;

// Font sizes
$font-size: 14px;
$font-size-tablet: 16px;
$font-size-desktop: 18px;