// Colors
$color-primary: #800020;
$color-secondary: #C0A080;
$color-black: #000;
$color-white: #fff;
$color-gray: #aaa;

// Font families
$font-stack: 'Merriweather', sans-serif;
$special-font-stack: 'Pacifico', serif;

// Font sizes
$font-size: 14px;
$font-size-tablet: 16px;
$font-size-desktop: 18px;

$font-size-title: 36px;
$font-size-tablet-title: 38px;
$font-size-desktop-title: 48px;

$font-size-caption: 14px;
$font-size-tablet-caption: 16px;
$font-size-desktop-caption: 18px;

// Widths
$min-width: 320px;