@import './styles/common';

.app {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  background-color: $color-black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow-y: auto;

  // Hide everything when screen is too small
  @media (max-width: $min-width) {
    background-color: $color-black !important;
    background-image: none !important;
  }

  @include desktop {
      padding: 20px;
  }

  > .app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;

    // Hide everything when screen is too small
    @media (max-width: $min-width) {
      display: none !important;
    }

    @include desktop {
      height: 100%;
    }
  }
}