@import './styles/mq';
@import './styles/variables';
@import './styles/fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  line-height: 1.5;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

#root {
  height: 100%;
  width: 100%;
}

h1, h2, h3 {
  font-family: $special-font-stack;
  font-size: $font-size-title;

  @include tablet {
    font-size: $font-size-tablet-title;
  }

  @include desktop {
    font-size: $font-size-desktop-title;
  }
}

body, input, button {
  font-family: $font-stack;
  font-size: $font-size;

  @include tablet {
    font-size: $font-size-tablet;
  }

  @include desktop {
    font-size: $font-size-desktop;
  }
}

button {
  font-weight: bold;
}