@import '../../styles/common';

.error-page {

  > .error-page-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: $box-shadow-light;
    text-align: center;
    color: $color-white;

    @include desktop {
      align-items: flex-end;
      width: 740px;
    }

    > .error-page-title {
      margin-bottom: 15px;
    }

    > .error-page-text {
      margin-bottom: 20px;
      font-size: 18px;
      text-align: right;
    }
  }
}