@import '../../styles/common';

#answer-overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }

  > .answer-overlay-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .answer-overlay-title {
      color: $color-white;
      @include font-subtitle;
    }

    > div {
      width: 100%;

      @include desktop {
        display: flex;
        justify-content: space-between;
      }

      > .answer-overlay-box-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 60px;
        }

        @include desktop {
          width: calc(50% - 10px);
          margin-bottom: 0;
        }

        > .answer-overlay-icon {
          width: 100px;
          height: 100px;
          margin-bottom: 5px;
          color: $color-white;

          @include desktop {
            width: 120px;
            height: 120px;
          }

          &.wait {
            margin-bottom: 10px;
          }
    
          &.is-right {
            color: $color-right;
          }
    
          &.is-wrong {
            color: $color-wrong;
          }
        }
      }

      > .answer-overlay-box-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include desktop {
          width: calc(50% - 10px);
        }

        > .answer-overlay-text {
          color: $color-white;
    
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
    
        > .answer-overlay-value {
          margin-bottom: 10px;
          color: $color-white;
          @include font-title;
        }
    
        > button {
          width: 100%;
          max-width: 320px;
          padding: 20px;
          background-color: $color-primary;
          transition: background-color 0.3s, color 0.3s;
          color: $color-white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
    
          &:hover {
            background-color: darken($color-primary, 10%);
          }
    
          &:disabled {
            background-color: $color-grey;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}