@import '../../styles/common';

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-black;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  visibility: visible;

  &.opaque {
    opacity: 1;
  }

  &.hidden {
    visibility: hidden;
  }

  > .loading-overlay-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    > .loading-overlay-title {
      color: $color-white;
      @include font-subtitle;
      margin-bottom: 20px;
    }
  }
}