@import '../styles/common';

$nav-min-width: 380px;

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: $color-white;
  z-index: 500;

  // Hide everything when screen is too small
  @media (max-width: $min-width) {
    display: none !important;
  }

  @include desktop {
    position: absolute;
    width: auto;
  }

  > .nav-button {
    position: absolute;
    top: -5px;
    left: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow-dark;
    width: 65px;
    height: 65px;
    background-color: $color-secondary;
    cursor: pointer;
    user-select: none;

    @include desktop {
      top: 0;
      left: 0;
      width: 75px;
      height: 75px;
    }
    
    > .nav-button-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      transform: translate(-50%, -50%);
      color: $color-black;
    }
  }


  
  > .nav-content {
    position: absolute;
    top: -5px;
    width: 100%;
    box-shadow: $box-shadow-dark;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    // transition: opacity 0.5s ease, visibility 0.5s;

    @include desktop {
      top: auto;
      transform: translate(50%, 0);
      width: auto;
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }

    &.visible {
      visibility: visible;
      opacity: 1;
    }

    > ul {
      list-style-type: none;

      > li {
        
        &.nav-first-item {
          position: relative;

          > .nav-button {
            position: absolute;
            top: calc(50% + 2px);
            left: 17px;
            transform: translate(0, -50%);
            cursor: pointer;
            user-select: none;
            background-color: transparent;

            > .nav-icon {
              color: $color-black;
              width: 30px;
              height: 30px;
            }
          }

          > .nav-text {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            padding: 18px 16px;
            background-color: $color-secondary;
            color: $color-black;
            font-family: $special-font-stack;
            @include font-subtitle;
  
            @include desktop {
              min-width: $nav-min-width;
              padding: 12px 16px;
            }
          }
        }

        &.nav-item {

          &:not(:last-child) {
            border-bottom: 1px solid $color-grey;
          }

          > .nav-text,
          > .nav-link,
          > .nav-button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            min-width: $nav-min-width;
            padding: 18px 16px;
  
            @include desktop {
              padding: 12px 16px;
            }
          }
  
          > .nav-button,
          > .nav-link {
            color: $color-black;
            text-decoration: none;
            font-weight: bold;
            background-color: #f9f9f9;
            cursor: pointer;
  
            &:hover {
              background-color: darken(#f9f9f9, 10%);
            }
  
            > .nav-icon {
              width: 32px;
              height: 32px;
              color: $color-black;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}