@import '../styles/mq';
@import '../styles/variables';

.quiz-question {
  width: 100%;
  padding: 10px;
  background-color: $color-white;
  border: 2px solid $color-gray;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @include desktop {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 15px;
    transform: translate(-100px, -50%);
    align-items: flex-end;
    max-width: 800px;
  }

  > .quiz-question-theme-container {
    display: flex;
    justify-content: flex-end;

    > .quiz-question-theme {
      margin-bottom: 5px;
      padding: 10px 20px;
      border-radius: 4px;
      color: $color-white;
      background-color: $color-black;
      font-size: $font-size-caption;
      text-align: right;
  
      @include tablet {
        font-size: $font-size-tablet-caption;
      }
  
      @include desktop {
        font-size: $font-size-desktop-caption;
      }
    }
  }

  > .quiz-question-title {
    margin-top: 0;
    margin-bottom: 20px;
  }

  > form {

    > .checkbox {
      display: flex;
      justify-content: left;
      align-items: center;

      &:not(:last-of-type) {
        margin-bottom: 10px;        
      }

      > label {
        display: block;
        font-size: $font-size-subtitle;
      
        @include tablet {
          font-size: $font-size-tablet-subtitle;
        }
      
        @include desktop {
          font-size: $font-size-desktop-subtitle;
        }
      }
  
      > input[type='radio'] {
        margin-right: 10px;
      }
    }
    
    > button {
      width: 100%;
      margin-top: 20px;
      padding: 20px;
      background-color: $color-primary;
      color: $color-white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: $color-primary;
      }

      &:disabled {
        background-color: $color-gray;
        cursor: not-allowed;
      }
    }
  }
}