@import '../styles/common';

.scoreboard {

  > .scores-title {
    font-size: 18px;
    margin-bottom: 3px;
  }

  > table.scoreboard-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

    > thead {

      > tr {

        &:nth-child(2) {

          > th {
            @include font-normal;
          }
        }
      }
    }

    > thead, > tbody {
      
      > tr {

        &:hover {
          background-color: #bbb;
        }
  
        > th, > td {
            border: 1px solid #ddd;
            text-align: center;
            padding: 8px;
        }
  
        > th {
            background-color: #f2f2f2;
            color: #333;
            @include font-sub-sub-title;
        }
  
        > td {
            background-color: #f9f9f9;
        }
      }
    }



    // Set specific widths for columns
    &.col-2 {
      th:first-child, td:first-child {
        width: 10%;
      }
      th:nth-child(2), td:nth-child(2) {
        width: 50%;
      }
    }
    &.col-3 {
      th:first-child, td:first-child {
        width: 10%;
      }
      th:nth-child(2), td:nth-child(2) {
        width: 45%;
      }
    }

    th[colspan='2'], td[colspan='2'] {
      width: 40%;
      padding: 0;
    }

    th[colspan='3'], td[colspan='3'] {
      width: 45%;
      padding: 0;
    }



    // Inner table styles
    table.scoreboard-inner-table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;

      > tbody {

        > tr {

          > th, > td {
            width: 100% !important;
            text-align: center;
            padding: 8px;
            background-color: transparent !important;
          }
        }
      }
    }
  }
}