@import '../styles/common';

.test-page {

  > *:not(:last-child) {
    margin-bottom: 10px;
  }

  > .test-page-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: $box-shadow-light;
    text-align: center;
    color: $color-white;

    @include desktop {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-100px, -50%);
      align-items: flex-end;
      width: 620px;
    }

    > .test-page-title {
      margin-bottom: 10px;
    }

    > .test-page-text {
      margin-bottom: 20px;
      font-size: 18px;
      text-align: right;
    }
  }
}