@import '../../../styles/common';

.quiz-list-page {

  > .quiz-list-page-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: $box-shadow-light;
    text-align: center;
    color: $color-white;

    @include desktop {
      align-items: flex-end;
      width: 740px;
    }

    > .quiz-list-page-title {
      margin-bottom: 15px;
    }

    > .quiz-list-page-text {
      margin-bottom: 20px;
      font-size: 18px;
      text-align: right;
    }

    > .quiz-list-page-list {
      width: 100%;
      list-style-type: none;

      > .quiz-list-page-list-item {
      
        &:not(:first-of-type) {
          margin-top: 5px;
        }

        button {
          width: 100%;
          padding: 20px;
          background-color: $color-primary;
          transition: background-color 0.3s, color 0.3s;
          color: $color-white;
          border: none;
          border-radius: 4px;
          box-shadow: $box-shadow-dark;
          cursor: pointer;
      
          &:hover {
            background-color: darken($color-primary, 10%);
          }
      
          &:disabled {
            background-color: $color-grey;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}