@import '../../styles/common';

.button-with-text {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @include desktop {
    padding: 15px 25px;
    align-items: flex-end;
  }

  > p {
    margin-bottom: 10px;
  }

  > button {
    width: 100%;
    min-width: 250px;
    padding: 20px 20px;
    border-radius: 4px;
    background-color: $color-black;
    color: $color-white;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: lighten($color-black, 10%);
    }
  }

  &.primary > button {
    background-color: $color-primary;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  &.secondary > button {
    background-color: $color-secondary;

    &:hover {
      background-color: darken($color-secondary, 10%);
    }
  }
}